export(asymptotic.var)
exportClasses("recurrent-data")
export(eq_solver)
export(gen_homo_poisson)
export(gen_inhomo_poisson)
exportMethods(curve)
export(step_integrate)
export(step_integrate.StepFunction)
useDynLib(recurrentR)
