S3method(create_recurrent_data,data.frame)
S3method(create_recurrent_data,list)
S3method(create_recurrent_data,numeric)
S3method(plot,rate.wang2001)
export(Huang2004)
export(Huang2010)
export(Wang2001)
export(cache_clean)
export(create_recurrent_data)
export(truncate_T_0)
exportClasses("recurrent-data")
useDynLib(recurrentR)
